html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
@font-face {
    font-family: 'Montserrat Regular';
    src: local('MontserratRegular'), url('../fonts/MontserratRegular.eot');
    src: local('MontserratRegular'), url('../fonts/MontserratRegular.eot?#iefix') format('embedded-opentype'),
         local('MontserratRegular'), url('../fonts/MontserratRegular.woff2') format('woff2'),
         local('MontserratRegular'), url('../fonts/MontserratRegular.woff') format('woff'),
         local('MontserratRegular'), url('../fonts/MontserratRegular.ttf') format('truetype'),
         local('MontserratRegular'), url('../fonts/MontserratRegular.svg#MontserratRegular') format('svg');
}
.top-bar{
	background: #f47d31;
	height: 38px;
}
.top-bar a{
	font: 12px 'Montserrat Regular';
	color: white;
	line-height: 38px;
}
.top-bar ul{
	list-style: none;
	float: right;
}
.top-bar li{
	float: left;
	margin-right: 15px;
}
.top-bar form {
	background: #c66223;
	height: 38px;
	padding: 6px 0;
	box-sizing: border-box;
	float: right;
}
.top-bar input[type="text"] {
	color: white;
	width: 340px;
	height: 28px;
	border-right: 1px solid white;
	padding: 0 10px;
	float: left;
}
.top-bar input[type="text"]::-webkit-input-placeholder {
  color: white;
}
.top-bar input[type="text"]::-moz-placeholder {
  color: white;
}
.top-bar input[type="text"]:-ms-input-placeholder {
  color: white;
}
.top-bar input[type="text"]:-moz-placeholder {
  color: white;
}
.top-bar input[type="submit"] {
	background: url(../images/busca.png) center center no-repeat;
	width: 40px;
	height: 28px;
	float: left;
}
@media screen and (max-width: 1000px) {
  .top-bar{
    width: 100%;
    height: auto;
    display: table;
  }
  .top-bar .centralizer {
    width: 100%;
    display: flex;
    flex-direction: column;
      align-items: center;
  }
  .top-bar ul{
    float: none;
  }
  .top-bar li{
    float: none;
  }
  .top-bar form {
    width: 380px;
    float: none;
  }
}
.centralizer {
  width: 1000px;
  margin: 0 auto;
}
#banners {
  overflow: hidden;
}
.slick-arrow {
    display: none !important;
}
.slick-dots {
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 15px;
    left: 0;
}
.slick-dots li {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    margin: 0 10px;
    display: inline-block;
}
.slick-dots button {
   opacity: 0;
}
.slick-slide img {
    width: 100%;
    height: auto;
}
@media screen and (max-width: 1240px) {

  .banner3 img {
      height: 760px;
  }

  .content main > ul li {
    height: 380px !important;
    width: 380px !important;
  }
}
.content {
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
}
.content main {
  display: flex;
  flex: 1 1 auto;
}
.content aside {
  width: 32%;
  position: relative;
}
.content aside a {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.content aside img {
    width: auto;
    height: 100%;
}
.content main > ul {
    width: 100%;
    margin: -10px 0;
    display: table;
}
.content main ul li {
    width: 50%;
    float: left;
    background-position: center;
    padding-bottom: 50%;
    position: relative;
}
.content main a {
    background-position: center center;
    background-size: 100% 100% !important;
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
}
.content main .info {
    text-align: center;
    width: 70%;
}
.content main .info h3,
.content main .info h2,
.content main .info p,
.content main .info button {
    font-family: 'Montserrat Regular';
    color: #333;
    margin-bottom: 10px;
}
.content main .info h3 {
    font-size: 12px;
    color: #666;
    text-transform: uppercase;
}
.content main .info h2 {
    font-size: 24px;
    text-transform: uppercase;
}
.content main .info p {
    font-size: 16px;
    color: #666;
}
.content main .info button {
    font-size: 12px;
    text-transform: uppercase;
}
.content main .wrap {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
}
.content main .wrap.top.left {
  justify-content: flex-start;
  align-items: flex-start;
}
.content main .wrap.top.center {
  justify-content: flex-start;
  align-items: center;
}
.content main .wrap.top.right {
  justify-content: flex-start;
  align-items: flex-end;
}
.content main .wrap.center.left {
  justify-content: center;
  align-items: flex-start;
}
.content main .wrap.center.middle {
  justify-content: center;
  align-items: center;
}
.content main .wrap.center.right {
  justify-content: center;
  align-items: flex-end;
}
.content main .wrap.bottom.left {
  justify-content: flex-end;
  align-items: flex-start;
}
.content main .wrap.bottom.center {
  justify-content: flex-end;
  align-items: center;
}
.content main .wrap.bottom.right {
  justify-content: flex-end;
  align-items: flex-end;
}
.content li{
	list-style: none;
}
#btn-post {
    margin-top: 10px;
    height: 26px;
    width: 90px;
    background-color: #FFF;
    border-style: outset;
    margin-left: -5px;
}
.banner3 {
  font-size: 75%;
  margin-top: 20px;
}
.banner3 a {
  height: 200px;
  overflow: hidden;
  position: relative;
  display: block;
}
.banner3 img {
  width: 100%;
  height: auto;
  margin-bottom: -3px;
}
.banner3 p {
  font-size: 0.75em;
  color: #f47d31;
  text-align: center;
  text-transform: uppercase;
  background: purple;
  padding: 20px 0;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
@media (min-width: 992px) {
  .banner3 {
    width: 33%;
    margin-top: 0;
    position: relative;
  }
  .banner3 a {
    height: 100%;
    position: absolute;
    top: 0;
    right: 20px;
    left: 0;
  }
}
@media screen and (max-width: 850px) {
  .content {
    flex-wrap: wrap;
  }

  .content main ul li {
    background-image: none !important;
    height: 100px !important;
    width: 100px !important;
  }

}
header .menu-center > .container {
    position: absolute;
    top: 36px;
    right: 0;
    left: 0;
    z-index: 20;
}
header menu .container {
    width: auto !important;
    padding: 35px 0 !important;
    display: table;
}
.container {
  margin-right: auto !important;
  margin-left: auto !important;
  padding: 15px !important;
}
header h1 {
  height: 110px;
  padding: 25px 0;
  float: left;
}
header menu ul {
  width: 100%;
  float: right;
  list-style: none;
}
header menu li {
  margin-left: 120%;
}
.menu-center {
    position: relative;
}
header .info {
    width: 1000px;
    margin-left: -500px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    z-index: 1000000;
    pointer-events: none;
}
header .info * {
    pointer-events: auto;
}
header nav {
    margin-top: 40px;
    float: right;
}
header ul {
    list-style: none;
}
header nav li {
    margin-left: 20px;
    float: left;
}
header nav a {
    font: 16px 'Montserrat Regular';
    color: #333;
    text-transform: uppercase;
}
@media (max-width: 992px) {
  .menu-center nav {
    display: none;
  }
  header h1{
   display: none;
  }  
}
#map {
  height: 350px;
  width: 100%;
  border: none;
}
.map {
  font-size: 60%;
  margin: 25px 0;
}
.map .search {
  background: white;
  padding: 10px;
  border: 1px solid #cccccc;
  margin: 60px 0;  
}
.search{
  margin-top: -126px !important;
  position: relative !important;
}
.map .font-size, .map .send label, .send .map label, .map #auto-map, .map p, .map footer p, footer .map p, .map footer .bar-code, footer .map .bar-code {
  font-size: 0.75em;
}
.map .text-transform, .map #auto-map, .map p {
  text-transform: uppercase;
}
.map #auto-map {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: 1px solid #666666;
}
.map p {
  color: #666666;
  text-align: center;
  margin: 20px 0;
}
.map #cep-text{
  margin-top: 17px;
  margin-bottom: 13px;
  margin-left: 10px;
}
.map fieldset{
  background-color: lightgray;
  margin-top: 10px;
}
.send label{
  font-size: 16px !important;
}
.map #cep-button{
  margin-right: 20px;
  height: 26px;
  width: 90px;
  background-color: #FFF;
  border-style: inherit;
}
@media (min-width: 650px) {
  .map .search {
    width: 600px;
    margin: 60px auto;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
  .map #location {
    background: url(/wordpress/teste-mkt/wp-content/themes/teste/assets/images/localizacao.jpg) 6% center no-repeat;
    width: 200px;
    padding: 0 10px 0 40px;
    margin: 10px 0;
    border-style: groove;
  }
  .map p {
    line-height: 29px;
    margin: 20px;
  }
}
@media (min-width: 992px) {
  .map {
    font-size: 100%;
    margin: 0px 0;
  }
  .map .search {
    margin: 114px auto;
  }
}
.follow {
  font-size: 60%;
}
.follow fieldset {
  background-color: lightgray;
  margin-top: 10px;
  margin-top: 12px;
  height: 48px;
}
.follow #btn-newsletter {
  margin-top: 10px;
  height: 26px;
  width: 90px;
  background-color: #FFF;
  border-style: inherit;
  margin-left: -5px;
}
.follow .newsletter label{
  font-size: 0.75em;
  color: #666666;
  text-transform: uppercase;
}
.follow #newsletter {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
}
.follow .half {
  margin: 10px 0 40px 0;
}
.follow .social-media p {
  font-size: 0.75em;
  color: #666666;
  text-transform: uppercase;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.follow .social-media ul {
  margin-top: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  list-style: none;
}
.follow .social-media li {
  margin: 0 10px;
}
.follow .social-media a {
  background: url(/wordpress/teste-mkt/wp-content/themes/teste/assets/images/social-media.gif);
  width: 49px;
  height: 49px;
  display: block;
}
.follow .social-media a.youtube {
  background-position: -49px 0;
}
.follow .social-media a.instagram {
  background-position: -98px 0;
}

@media (min-width: 768px) {
  .follow {
    width: 100%;
    display: table;
  }
  .follow .half {
    width: 60%;
    float: left;
  }
  .follow .half form {
    width: 60%;
  }
  .follow .half form input[type="email"] {
    font-family: 'Alegreya Sans', serif !important;
    text-transform: none;
  }
  .follow .social-media {
    width: 40%;
  }
  .follow .social-media p {
    text-align: left;
    width: auto;
    margin: 0;
  }
  .follow .social-media ul {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .follow .social-media li {
    margin: 0 20px 0 0;
  }
}
@media (min-width: 992px) {
  .follow {
    font-size: 100%;
  }
  .follow .half {
    margin-bottom: 65px;
  }
}
footer {
  background: #f47d31;
  padding: 20px 0;
}
footer .links ul > li {
  display: none;
}
footer .links ul > li + li + li {
  display: block;
}
footer .color-white, footer p, footer small, footer h4 {
  color: white;
}
footer p span {
  float: right;
}
footer .bar-code {
  color: #666666;
  text-align: center;
  background: white url(/wordpress/teste-mkt/wp-content/themes/teste/assets/images/cod-barras.jpg) 6% center no-repeat;
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: 1px solid #666666;
  margin: 40px 0;
  display: block;
}
footer small {
  font-size: 0.5em;
  font-family: 'Alegreya Sans', serif !important;
  text-align: center;
  margin-top: 20px;
  display: block;
}
footer span{
  margin-left: 40px;
}
footer .featured img {
  display: none;
}
footer .links a{
  color: #FFF;
}
@media (min-width: 768px) {
  footer {
    width: 100%;
    height: 206px;
    padding: 20px 0;
    display: table;
  }
  footer .container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
  }
  footer .links {
    width: 50%;
  }
  footer .links ul > li + li + li {
    display: block;
  }
  footer .links small {
    margin-bottom: 0;
  }
  footer p span {
    margin-left: 40px;
    float: none;
  }
  footer .bar-code {
    font-size: 0.5em;
    width: 170px;
    margin: 20px 0 40px;
  }
  footer small {
    font-size: 0.75em;
    text-align: left;
    display: block;
  }
  footer .featured {
    width: 50%;
    position: relative;
  }
  footer .featured img {
    width: auto;
    height: 206px;
    position: absolute;
    top: -35px;
    left: 0;
    display: block;
  }
  footer .mkt {
    top: 100px;
    right: 40px;
  }
}
@media (min-width: 992px) {
  footer {
    background-position: 200% top;
    font-size: 100%;
    height: 323px;
  }
  footer .links {
    width: 60%;
  }
  footer .links ul {
    list-style: inside disc;
  }
  footer .links ul {
    display: table;
  }
  footer .links ul > li {
    margin-right: 40px;
    float: left;
    display: block;
  }
  footer .links ul > li:last-child {
    margin-right: 0;
  }
  footer .links ul > li ul,
  footer .links ul > li li {
    list-style: inside disc !important;
    margin: 10px 0 0 0;
    float: none;
  }
  footer .useful ul > li ul a,
  footer .useful ul > li li a {
    font-size: 0.75em;
    color: white;
  }
  footer .links ul > li ul a:hover,
  footer .links ul > li li a:hover {
    text-decoration: underline;
  }
  footer .links small {
    margin-top: 80px;
  }
  footer .bar-code {
    font-size: 0.75em;
  }
  footer .featured {
    width: 40%;
  }
  footer .featured img {
    height: 323px;
    right: auto;
    left: 0;
  }
  footer .mkt {
    color: gray;
    background: rgba(0, 0, 0, 0.4);
    padding: 5px 10px;
    top: 205px;
    right: 0;
  }
}
@media (min-width: 1200px) {
  footer .featured img {
    left: -40px;
  }
  footer .mkt {
    background: transparent;
    top: 210px;
    right: 0;
    margin-left: 450px;
    margin-top: -65px;
  }
}