* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a { text-decoration: none; }
a,
button {
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button:focus  { outline: none; }
button:active { outline: none; }
button::-moz-focus-inner { border: none; }
input,
textarea {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}
button,
[type="submit"],
[type="button"] {
    font-size: 100%;
    border: none;
    cursor: pointer;
}